@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET CHUẨN */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* TUYỆT ĐỐI KHÔNG FLEX BODY */
body {
  display: block;
  background-color: #f8fafc;
}
